body {
    background-color: #023e7a; 
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(255, 255, 255);
    width: 50vw; 
    height: 60vh;
    margin: 10vh auto; 
    padding: 20px;
    border-radius: 50px;
}


h1 {
    text-align: center; 
    color: #333;      
}

.imagem-personagem {
    display: block;
    margin: 0 auto;    
    width: 100%;
    height: 60%;
    max-height: 400px;
    border-radius: 20px;
    object-fit: contain;
}

.icon {
    display: block;
    margin: 20px auto 0 auto; 
    width: 50px; 
    height: 50px; 
    object-fit: contain;
}

.card {
    background-color: #f0f0f0; 
    border-radius: 15px; 
    padding: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    margin-top: 20px; 
}