* body{
    margin: 0px;
    padding: 0px;
}
#topoPorcento{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}
#topo{
    width: 980px;
    height: 100px;
    margin: auto;
    background-color: blue;
}
#logo{
    width: 200px;
    height: 100px;
    background-color: darkred;
    float: left;
}
#menu{
    width: 680px;
    height: 100px;
    float: right;
    background-color: crimson;
}
#banner{
    width: 980px;
    height: 300px;
    background-color: chartreuse;
    margin: auto;
    clear: both;
}
#container{
    width: 980;
    margin: auto;
    background-color: aqua;
    height: 400px;
    clear: both;
}